<table class="table table-hover">
    <tr>
        <td width="70px">
            <img src="{{ url_for('static', filename='profile_pics/' + user.image_file) }}" />
        </td>
        <td>
            User ID: {{ user.id }}
            <br>
            {{ user.first_name }} {{ user.last_name }}
            <br>
            Date of Birth: {{ user.dob }}
            <br>
            Gender: {{ user.gender }}
            <br>
            About me: {{ user.about_me }}
            <br>
        </td>
    </tr>
</table>